@font-face {
    font-family: "Slack v2"; /* Гарнитура шрифта */
    src: url(../slack-font/slack-icons-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face{
    font-family: "lato-regular";
    src: url(../slack-font/lato-regular.ttf);
}
*{
    box-sizing : border-box;   
}

button{
    outline: none;
    cursor: pointer;
    border:none;
   
}
ul,li,a{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
div.create-message:empty::before {
    color: grey;
}
div.create-message[data-placeholder]:not([data-placeholder=""]):empty::before {
    content: attr(data-placeholder);
    
}
div.create-message:empty::before {
    content: 'Write something...';
}
div.create-message:focus{
    outline: none;
}


li{
list-style: none;
}
ul{
    margin:0;
    padding:0;
}
a{
text-decoration: none; 
}
body {
    font-family: lato-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.ml-auto{
    margin-left:auto;
}
.mr-auto{
    margin-right:auto;
}
 

.block{
    border-bottom: 1px solid #481A49;
}
.block2{
    border-right:1px solid #E2E2E2;
}
.block:last-child(0){
    border-bottom: 0px;
}
.container{
    width:100%;
    margin: 0 auto;
    display:flex;
    height:calc(100vh);
    min-height: 100%;
    align-items:stretch;
    justify-content: center;

}


body{
    overflow: hidden;
}
.scroll-map{
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    
    
}
.scroll-map::-webkit-scrollbar {
    width: 7px;
    background-color: #481A49;
}
.scroll-map::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 6px 6px 6px rgb(255,255,255,0.3);
}  
/* Left-sidebar start */
.left-sidebar{
    min-width: 288px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column; 
     
    

}
.user_info{   
    min-height: 115px;   
    padding:20px 20px 20px 20px;
    background:#3F0E40;
     
}
.user_info:hover{
    background-color:#350D36;
    cursor: pointer;
}
 
.user_info:hover>.user>.user_name>span{
    color:white;
}
.user_title{
    display:flex;
    color:white;   
}
.user_name{
    display:inline-flex;
    width:150px;
    align-items: center;
    color:#BEADBE;
    font-size: 18px;
 
}
.user_name span{
    text-overflow: ellipsis; /* Добавляем многоточие */
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
 
}
.user_tooltip{
    border-radius:50%;
    padding:15px;
    background-color: white;
    display:inline-flex;
    justify-content: center;
    z-index: 3;
    position:relative;
}

.svg_icon{
    color: #3F0E40;
    fill: #3F0E40;
}
.user{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.un_title{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}

/*user_nav start*/
.user_nav{
    min-height:350px;
    background:#3F0E40;
}
.list a{
    padding:10px;
    color:#BEADBE;
    font-weight: 500;
    line-height: 16px;
    font-size:18px;
    padding-left:40px;
    padding-right:40px;
    font-style:normal;
    display:block;
}
.list li{
    margin-top:17px;
}
.list li:last-child{
    margin-top:17px;
    padding:0px 0px 34px 0px;
}
.list li a:hover{
    background:#350D36;
}
.list li a.link__public::before{
    font-family: "Font Awesome 5 Free";
    content:"\f292";
    padding-right: 10px;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    font-size:12px;
}
    
/*user_nav end*/
.min{
    min-height:auto;
}
.user_channels{
    padding-bottom:50px;
    margin: 0;
    background:#3F0E40;
    flex-grow: 1;
}
.collapsible{
    
    cursor: pointer;
    
    color:#BEADBE;
  
}
.collapsible span{
    font-size:20px !important;
    font-weight:500;
    outline: none;
    line-height: 21px;

}
.collapsible:last-child(0){
    margin-top:40px;
}
.content{
     
    overflow: hidden;
    max-height:0;
    transition: max-height 0.2s ease-out;
}

.channel_block{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:40px;
}


/* Left-sidebar end */
/* Middle-sidebar start */
 
.img_section{
    position:  relative;
    display:   flex;
    min-width: 50px;
    min-height:50px;
    display:inline-block; 
}
.middle-sidebar{
    width: 692px; 
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column; 
    flex-grow: 1;
}
.chat_info{
    min-height: 115px;   
    background:#FFFFFF;
    padding:20px 20px 20px 20px;
}
.channel_info{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
.channel_users_count{
    display: inline-block;
}
.channel_users_count::before{
    content:"\E003";
    padding-right:3px !important;
    padding-left:10px;
    color:black !important;
}

.channel_info--users{
    display:flex;
    align-items: center;
}

.channel_info--functions{
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    align-items: center;
}
.block1{
    border-bottom: 1px solid #E2E2E2;
}

.chat_history{
    position:relative;
    display:flex;
    flex-grow:1; 
    overflow-y: auto;
    flex-direction: column;
   
}
.chat_history::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}
.chat_history::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    -webkit-box-shadow: inset 15px 15px 15px 15px  rgba(127, 135, 145, 0.435);
} 

.sender{
    
    display:flex;
    padding:20px;
}
.chat_history__wrapper{
    margin-top:auto;
}
.slacker_title{
    display:inline-block;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.slacker_desc{
 
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.slacker_time_of_send{
    display:inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    color:grey;
    margin-left:10px;
    vertical-align: center;
}
.slacker_data{
    display:flex;
    align-items: center;
}
.description{
    position: relative;
    padding:0 36px 36px 36px;
    max-width:1920px;
    clear:both;
}
.ml-10{
    margin-right:10px;
}
.chat_message{
    background: #FFFFFF;  
    display:flex;
    background: #E5E5E5;
    padding:20px;
    padding-bottom:80px;
}

.input-group{
    display:flex;
    position:relative;
    width:100%;  
   
}
.empty{
    width:318px;
}
.create-message-wrapper{
 
    border:1px solid #616061;
    border-radius:10px;
    flex-grow:1;
    width:100%;
    white-space: normal !important; /* Переносов в тексте нет */
    padding: 10px 25px 45px 25px;
    
    background:white;
    font-size: 16px;
    line-height: 19px;
    z-index: 0;
   
}
.create-message{
    overflow-y: auto;
    overflow-x: hidden;
    min-height:41px;
    max-height:60px;
    white-space: normal !important;
    word-wrap: break-word;
}
.send-message{
    display: block;
    position: absolute;
    right:0;   
    bottom:0;
     
    border-radius: 50%;
    background: none ;
    border: 2px solid #3F0E40;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom:25px;
    margin-right:25px;
     
   
}
.message_list_day{
   margin-bottom:60px;
   position:relative;
   background:transparent;
}
hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.new{
    border-top:1px solid rgba(var(--sk_foreground_low_solid,240, 143, 173),1);
}
.old{
    border-top: 1px solid rgba(var(--sk_foreground_low_solid,221,221,221),1);
} 








@media (max-width:1080px){
    .left-sidebar{
        display:none;
    }
    .middle-sidebar{
        width:100%;
    }
    .empty{
        display:none;
    }
    .chat_info{
        min-height:auto;
      
    }
    .channel_info--functions, .channel_info--users{display:inline-block;}
}
@media (max-width:560px){
 header{display:none !important;}
 
}
button span{
    font-size: 20px;
}
.separator{
    position: relative;
    border: none;
    border-bottom: 1px solid transparent;
    border-bottom-color:red;
    max-height:1px;
    border-image-slice: 1; 
    
}
.separator-absolute{
    position: relative;
  
    width: 100%;
    margin-bottom:auto;
    
}
.message_time{
    display:block;
    width:100%;
    text-align: center;
    margin-top:50px;
    padding-bottom:50px;
}
.btn-white{
    position: absolute;
    border: 2px solid #ECECEC;
    background:white;
    border-radius: 10px;
    padding:10px;
    top:center;
    left:center;
    transform:translate(-50%, -50%);
    margin:auto;
    z-index: 1;
    
}
.btn-style-add-topic{
   
    border-radius: 10px;
    background-color:white;
    color:#0259b6;
    font-weight: 500;
    border: 1px solid white;
} 
.btn-style-add-topic:hover{
    background:#0259b6;
    color:white;
    transition: transform .2s ease-in-out;  
}
.header{
    
    width: 100%;
    margin: 0 auto;
    background: #361D37;
    height:50px;
    display:flex;
    align-items: center;
    
} 
.top__list{
    display: flex;
    width:100%;
    flex-flow: row nowrap;
    height: 50px;
    padding:0px 10px 0px 10px;
    justify-content: space-between;
     
}
.top__list li{ 
    display: inline-flex;
    
} 
.top__list li a{
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 0 10px;
}
.header__logo{
    width:50px;
    height:54px;
} 
 
.input-row{
    display:flex;
    width:100%;
    justify-content:center ;
    padding:0px 20px 0px 20px;
   
}
.search{
    outline: none;
    width:50%;
    background:#431E44;
    border-radius: 2px;
    color:#D1C8D1;
    border:1px solid #614261;

}
.search::placeholder{
    color:#beabbe;
}
.search:hover {
    border:1px solid #937D94;
    color:#FAF9FA;
}
.white{
    color:white;
}
.active{
    background-color: #1164A3;
    color:white !important;
    width:100%;
}

.channel_users_count::before,
.icon-threads::before,.icon-mentions::before,
.icon-drafts::before,.icon-people::before,
.icon-files::before,.icon-apps::before,
.icon-bot--active:before, .icon-user--active:before,
.icon-add::before,.icon-private,
.icon-add-down::before,.icon-shortcut::before,
.icon-bold::before,.icon-italic::before,
.icon-strikethrough::before,.icon-code::before,
.icon-link::before,.icon-numbered-list::before,.icon-bullet-list::before,
.icon-quote-post::before,.icon-code-block::before,
.icon-send-message::before,
.icon-public::before{
    display:inline-block;
    font-family: "Slack v2";
    font-style: normal;
    font-weight: 400;
    font-size: 20px !important;
    color:#BEADBE;
    align-items: center;
    padding-right: 10px;
}
.icon-threads::before{
    content: "\E171";
}
.icon-mentions::before{
    content: "\E009";
}
.icon-drafts:before{   
    content: "\E059";
}
.icon-people::before{
    content: "\E017";
}
.icon-apps::before{
    content: "\E00A";
}
.icon-files::before{
    content: "\E107";
}
.icon-user--active:before{
    content: "\E508";
    color:#2BAC76;
}
.icon-bot--active:before{
    content: "\E515";
    color:#47B2E0;
}
.icon-add-down::before{
    content:"\E281";
}
.icon-add::before{
    padding-right:0 !important;
    content:"\E279";
}
.icon-public::before{
    content:"\E125";
}
.icon-private::before{
    content:"\E567";
}
.icon-shortcut::before{
    content: "\E011";
    color:rgb(43, 42, 42);
}
 
.icon-bold::before{
    content: "\E160";
    color: rgb(43, 42, 42);
}
.icon-italic::before{
    content: "\E161";
    color: rgb(80, 80, 77);
}
.icon-strikethrough::before{
    content: "\E163";
    color: rgb(43, 42, 42);
}
.icon-code::before{
    content: "\E066";
    color: rgb(43, 42, 42);
}
.icon-link::before{
    content: "\E074";
    color: rgb(43, 42, 42);
    
}
.icon-numbered-list::before{
    content: "\E158";
    color: rgb(43, 42, 42);
}
.icon-bullet-list::before{
    content: "\E157";
    color: rgb(43, 42, 42);
}
.icon-quote-post::before{
    content: "\E120";
    color: rgb(43, 42, 42);
}
.icon-code-block::before{
    content: "\E15B";
    color: rgb(43, 42, 42);
}
.icon-send-message::before{
    content:"\E543";
}
.btn-style-message{
    position: relative;
    width:32px;
    height:32px;
    display:inline-flex;
    justify-content: center;
    align-items: center;  
    z-index: 2000;
    background-color: #E5E5E5;
    
}
.btn-style-message:hover{
    background:#1264A3;
    transition: transform .2s ease-in-out;  
   
}
.btn-style-message:hover i::before{
    color:white !important;
    transition: transform .2s ease-in-out;  
}
.message_icons_wrapper{ 
    position: absolute;
    left: 0;
    height:48px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 1px;
    padding-right:1px;
    background-color:#E5E5E5;
    border:1px solid #616061;
    border-top:none;
    width: 100%;
    bottom: 0;
    z-index: 2000;
}
.message_icons_wrapper_border{
    border-top:1px solid #DDDDDD;
    overflow: visible;
}
.message_icons--align{
    padding:42px;
    width:100%;
    padding-top:3px;
}
.message_icons-inner--align{
    width:20px;
    height:20px;
}
.message_icons--background{
    display:flex;
    background-color: #E5E5E5;
    white-space: nowrap;
    clear: both;
    
    border-radius:5px;   
    justify-content: space-between;
    align-items: center;   
}

.vertical{
    margin: 4px 0 4px 4px;
    border-radius: 0;
    border-right:1px solid rgb(175, 175, 175);    
}
button.vertical:hover{
    border-right:1px solid white;
}
.message_things{
    display: inline-block;
    overflow: hidden;
    
}
.message-send--icons{
    display: inline-block;
    right:0;
    z-index:5000;
    background: transparent;
    overflow: visible;
}
.background-green{
    background-color: #007a5a;
}
button.background-green i::before{
    color:white !important;
}