*{
    box-sizing : border-box;   
}
button{
    outline: none;
    cursor: pointer;
}
ul,li,a,span{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
div.create-message:empty::before {
    color: grey;
}
div.create-message[data-placeholder]:not([data-placeholder=""]):empty::before {
    content: attr(data-placeholder);
    
}
div.create-message:empty::before {
    content: 'Write something...';
}
div.create-message:focus{
    outline: none;
}


li{
list-style: none;
}
ul{
    margin:0;
    padding:0;
}
a{
text-decoration: none; 
}
body span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.ml-auto{
    margin-left:auto;
}
.mr-auto{
    margin-right:auto;
}
 

.block{
    border-bottom: 1px solid #481A49;
}
.block2{
    border-right:1px solid #E2E2E2;
}
.block:last-child(0){
    border-bottom: 0px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    display:flex;
    align-items:stretch;
    justify-content: center;

}
/* Left-sidebar start */
.left-sidebar{
    min-width: 288px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column; 
}
.user_info{   
    max-height: 115px;   
    padding:20px 20px 20px 20px;
    background:#3F0E40;
     
}

.user_title{
    display:flex;
    color:white;   
}
.user_name{
    display:inline-flex;
    color:white;
}
.user_img{
    width:60px;
    height:60px;
    border-radius:50%; 
}
.user{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.un_title{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}

/*user_nav start*/
.user_nav{
    min-height:256px;
    margin: 0;
    padding:20px 0px 0px 0px;
    background:#3F0E40;
}
.list a{
    padding:10px;
    color:#BEADBE;
    font-weight: 500;
    line-height: 16px;
    font-size:18px;
    padding-left:40px;
    padding-right:40px;
    font-style:normal;
    display:block;
}
.list li{
    margin-top:17px;
}
.list li:last-child{
    margin-top:17px;
    padding:0px 0px 34px 0px;
}
.list li a:hover{
    background:#350D36;
}
.list li a.link__public::before{
    font-family: "Font Awesome 5 Free";
    content:"\f292";
    padding-right: 10px;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    font-size:12px;
}
.list li a.link__private::before{
    font-family: "Font Awesome 5 Free";
    content: "\f023";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-size:12px;
    font-weight: 600;
}
    
/*user_nav end*/

.user_channels{
    min-height:397px;
    margin: 0;
    
    background:#3F0E40;
    flex-grow: 1;
}
.collapsible{
    
    cursor: pointer;
    
    color:#BEADBE;
  
}
.collapsible span{
    font-size:20px !important;
    font-weight:bold;
    outline: none;
    line-height: 21px;
}
.collapsible:last-child(0){
    margin-top:40px;
}
.content{
     
    overflow: hidden;
    max-height:0;
    transition: max-height 0.2s ease-out;
}

.channel_block{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:40px;
}
.icon-add::before{
    font-family: "Font Awesome 5 Free";
    vertical-align: middle; 
    display:inline-block;
    font-size:15px;
    color:#BEADBE;
    font-style:normal;
    font-weight: 600;
    content:'\f067';
}

/* Left-sidebar end */
/* Middle-sidebar start */
.middle-sidebar{
    width: 692px; 
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column; 
}
.chat_info{
    min-height: 115px;   
    background:#FFFFFF;
    padding:20px 20px 20px 20px;
}
.channel_info{
    font-weight: bold;
    font-size: 18px;
}
.block1{
    border-bottom: 1px solid #E2E2E2;
}
.chat_history{
    flex-grow:1;
    height: 500px;
    padding:20px; 
    overflow-y: scroll;
}
.sender{
    padding:20px;
    display:flex;
}
.slacker_title{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.slacker_desc{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.description{
    padding:0 20px 20px 20px;
}
.ml-10{
    margin-right:10px;
}
.chat_message{
    background: #FFFFFF;  
    margin-top:auto;
    display:flex;
    align-items: center; 
    justify-content: center; 
    background: rgba(127, 135, 145, 0.137);
    padding:40px;
}

.input-group{
    display:flex;
    position:relative;
    width:100%;
    
    
}
.create-message{
    position:relative;
    width:100%; 
    border-radius:10px;
    white-space: normal !important; /* Переносов в тексте нет */
    padding: 25px 75px 75px 25px;
    border:1px solid #8C8585;
    white-space: normal !important;
    background:white;
    font-size: 16px;
    line-height: 19px;
    overflow-y: auto;
    overflow-x: hidden;
    resize:none;
    height:150px;
}
.send-message{
    display: block;
    position: absolute;
    right:0;   
    bottom:0;
     
    border-radius: 50%;
    background: none ;
    border: 2px solid #3F0E40;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom:25px;
    margin-right:25px;
     
   
}
.send-message-btn{
    margin-left:5px;
}










@media (max-width:900px){
    .left-sidebar{
        display:none;
    }
    .middle-sidebar{
        width:100%;
    }
  
}
 
.header{
    max-width:980px;
    width: 100%;
    margin: 0 auto;
    background: #361D37;
    height:50px;
    display:flex;
    align-items: center;
    
} 
.top__list{
    display: flex;
    width:100%;
    flex-flow: row nowrap;
    height: 50px;
    padding:0px 10px 0px 10px;
    justify-content: space-between;
     
}
.top__list li{ 
    display: inline-flex;
    
} 
.top__list li a{
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 0 10px;
}
.header__logo{
    width:50px;
    height:54px;
} 
 
.input-row{
    display:flex;
    width:100%;
    justify-content:center ;
    padding:0px 20px 0px 20px;
}
.search{
    outline: none;
    width:50%;
    background:#431E44;
  
    border-radius: 2px;
     
    color:#D1C8D1;
border:1px solid #614261;

}
.search::placeholder{
    color:#beabbe;
}
.search:hover {
    border:1px solid #937D94;
    color:#FAF9FA;
}
.white{
    color:white;
}
.active{
    background-color: #1164A3;
    color:white !important;
    width:100%;
}
.icon-threads::before,.icon-mentions::before,
.icon-drafts::before,.icon-people::before,
.icon-files::before,.icon-apps::before,
.icon-bot--active:before, .icon-user--active:before{
    display:inline-block;
    font-family: "Slack v2";
    font-style: normal;
    font-weight: 400;
    font-size:20px !important;
    color:#BEADBE;
    vertical-align: middle;
    padding-right: 10px;
}
.icon-threads::before{
    content: "\E171";
}
.icon-mentions::before{
    content: "\E009";
}
.icon-drafts:before{   
    content: "\E059";
}
.icon-people::before{
    content: "\E017";
}
.icon-apps::before{
    content: "\E00A";
}
.icon-files::before{
    content: "\E107";
}

.icon-user--active:before{
    content: "\E508";
    color:#2BAC76;
}
.icon-bot--active:before{
    content: "\E515";
    color:#2BAC76;
}
